[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causaljudgment"]
	path = causaljudgment
	url = https://github.com/tadegquillien/causaljudgment
